<h1>para crear una nueva tarea tiene que dirigirse a categories y fijarse en el ID que se muestra, o crear un nuevo categories y fijarse cual es su id</h1>
<div class="new-task">
<h1>New Task</h1>
<%= render 'form', task: @task %>

<%= link_to 'Back', tasks_path %>
