// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.new-note {
    background-color: #F9E27C;
    margin-left: 600px;
    margin-right: 600px;
    height: 200px;
    margin-top: 25px;
    margin-bottom: 200px;
    border-radius: 10px;
    text-align: center;
}

.no{
    background: #F9E27C;
    border-radius: 5px;
}